DATA_SOURCE_NAME="user=postgres host=/var/run/postgresql/ port=5432 password={{ pg_super_password }} sslmode=disable"
FLAGS="--auto-discover-databases --extend.query-path=/var/lib/postgresql/queries.yml"
