
[hosts:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=~/.ssh/kd_testing_known_hosts -o IdentityFile={ssh_key} -o User=${ssh_user}'

[hosts:children]
postgresql
prometheus

[postgresql]
%{ for index in postgresql_nodes ~}
${postgresql_node_name[index]} pg_ext4_hdd='${pg_ext4_hdd}${index}' pg_zfs_hdd='${pg_zfs_hdd}${index}' pg_zil_ssd='${pg_zil_ssd}${index}'
%{ endfor ~}

[lvmdisk:children]
postgresql

[zfs:children]
postgresql

[prometheus]
${prometheus_name}

[monitor:children]
postgresql